.features {
  padding: 110px 0 40px; }
  .features__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .features__item {
    max-width: 300px;
    margin-bottom: 70px;
    text-align: center;
    margin: 0 auto 70px; }
  .features__title {
    color: #2d3033;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px; }
  .features__desc {
    color: #6c7279;
    font-size: 14px;
    text-align: center; }
  .features__img {
    color: #e84545;
    font-size: 42px;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s; }
    .features__img:hover {
      transform: scale(1.2, 1.2); }
