.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 2; }
  .header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(43, 46, 74, 0.7); }
  .header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; }
  .header__logo {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    z-index: 5; }
    .header__logo:hover {
      animation-name: rotation;
      animation-duration: 0.5s;
      animation-timing-function: linear; }
    .header__logo::after {
      content: "box";
      color: #fff;
      font-size: 20px;
      font-weight: 500; }
  @media (max-width: 760px) {
    .header__menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: cadetblue; } }
  .header__list {
    display: flex;
    justify-content: space-between; }
  .header__list li {
    margin-left: 30px;
    transition: 0.5s; }
    .header__list li:hover {
      transform: scale(1.1, 1.1); }
  .header__menu-link {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s; }
    .header__menu-link:hover {
      border-bottom: 1px solid #fff;
      color: #e84545; }
  .header__burger {
    display: none; }
    @media (max-width: 760px) {
      .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 5; } }
  @media (max-width: 760px) {
    .header__burger::after, .header__burger::before {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0; } }
  @media (max-width: 760px) {
    .header__burger::before {
      top: 0; } }
  @media (max-width: 760px) {
    .header__burger::after {
      bottom: 0; } }
  @media (max-width: 760px) {
    .header__burger span {
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      top: 9px; } }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
