.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid  rgba(255, 255, 255, 0.1);
  z-index: 2;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(43, 46, 74);
  }

  &__row { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    align-items: center;
    height: 80px;
  }

  &__logo {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    &:hover {
      animation-name: rotation; 
      animation-duration: 0.5s; 
      animation-timing-function: linear;
    }
    &::after {
      content: "box";
      color: #fff;
      font-size: 20px;
      font-weight: 500;
    }
   }

    &__menu {
      @media (max-width:760px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: cadetblue;
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;
    }
    
    &__list li {
      margin-left: 30px;
      transition: 0.5s;
      &:hover {
        transform: scale(1.1, 1.1);
      }
    } 

    &__menu-link {
      color: #fff;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      transition: 0.5s;
      &:hover {
        border-bottom: 1px solid #fff;
        color: #e84545;
      }
    }

    &__burger {
      display: none;

      @media (max-width:760px) {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 5;
      }
    }

    &__burger::after, 
    &__burger::before {
      @media (max-width:760px) {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
      }
    }

    &__burger::before {
      @media (max-width:760px) {
        top: 0;
      }
    }

    &__burger::after {
      @media (max-width:760px) {
        bottom: 0;
      }
    }

    &__burger span {
      @media (max-width:760px) {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        top: 9px;
      }
    }

}

@keyframes rotation { 
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);} 
  }