* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}



@import "header.scss";
@import "banner.scss";
@import "features.scss";
@import "portfolio.scss";
@import "stuff.scss";
@import "slider.scss";
@import "download.scss";
@import "info.scss";
@import "footer.scss";